/*RESET*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: Arial, Helvetica, sans-serif;
}

/*GENERAL*/
.container {
    max-width: 1000px;
    margin: 0 auto;
}

.info-container {
    display: flex;
}

.info-container .small {
    width: 33%;
}

.info-container .big {
    width: 33%;
}

/*HEADER*/
#header-top {
    display: flex;
    justify-content: space-between;
}

#header-top ul {
    list-style: none;
}

#header-top ul li {
    display: inline-block;
}

#header-top ul li a {
    display: inline-block;
    text-decoration: none;
    padding: 9px 13px;
}

#header-bottom {
    height: 450px;
    padding: 50px 0;
}

#header-bottom > div {
    
}

#header-bottom .centrale {
    position: relative;
    top: 100px;

}

/*DEBUG*/
.debug header {
    background-color: whitesmoke;
}

.debug #header-top {
    background-color: whitesmoke;
}

.debug #header-top > * {
    background-color: whitesmoke;
}

.debug #header-bottom {
    background-color: #B4D0E7 ;
}

.debug #header-bottom .centrale {
    background-color: #B4D0E7;
    min-height: 300px;
}
