/*RESET*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: Arial, Helvetica, sans-serif;
}

/*GENERAL*/
.container {
    max-width: 1000px;
    margin: 0 auto;
}

.info-container {
    display: flex;
}

.info-container .small {
    width: 33%;
}

.info-container .big {
    width: 33%;
}

.info-container .alternative .small {
    width: 30%;
}

.info-container .alternative .big {
    width: 70%;
}

.scelta {
    margin-bottom: 50px;
}

/*HEADER*/
#header-top {
    display: flex;
    justify-content: space-between;
}

#header-top ul {
    list-style: none;
}

#header-top ul li {
    display: inline-block;
}

#header-top ul li a {
    display: inline-block;
    text-decoration: none;
    padding: 9px 13px;
}

#header-bottom {
    height: 450px;
    padding: 50px 0;
}

#header-bottom .centrale {
    position: relative;
    top: 150px;
}

/*MAIN*/
main {
    margin-top: 150px;
}

main h3 {
    margin-bottom: 50px;
}

.piani {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.piani > * {
    width: 33%;
    border-bottom: 1px solid black;
    text-align: center;
}

.piani > :last-child {
    width: 100%;
    margin-top: 20px;
}

.enterprise {
    width: 100%;
    margin-top: 40px;
}

.piani > * .icona {
    padding: 10px;
    border-bottom: 2px solid black;
    text-align: center;
}

.piani > * .pianibody {
    padding: 11px;
}

main > section {
    margin-bottom: 45px;
}

.features {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.features > * {
    width: 35%;
}

#business {
    padding: 40px 0;
}

/*
FOOTER
*/
footer {
    background-color: black;
    color: white;
}

#footer-top {
    padding: 50px 0;
}

#footer-bottom {
    padding: 30px 0;
}

.footercolonne {
    display: flex;
    flex-wrap: wrap;
}

.footercolonne > * {
    width: 20%;
}

.footercolonne > * ul {
    list-style: none;
}

.footercolonne > * ul li a {
    display: inline-block;
    padding: 7px 0;
    color: white;
    text-decoration: none;
}


/*DEBUG*/
.debug header {
    background-color: whitesmoke;
}

.debug #header-top {
    background-color: whitesmoke;
}

.debug #header-top > * {
    background-color: whitesmoke;
}

.debug #header-bottom {
    background-color: #B4D0E7 ;
}

.debug #header-bottom .centrale {
    background-color: #B4D0E7;
    min-height: 300px;
}

.debug .info-container {
    min-height: 250px;
}

.debug .small {
    background-color: darkred;
}

.debug .big {
    background-color: gold;
    width: 100%;
}

.debug .background {
    background-color: aqua ;
}


